 #navbar{
    display: flex;
    justify-content: space-between;
 }
 input{
    height: 20px;
    margin-top: 20px;
 }
 /* #box{
    width: 250px;

 } */
 
 #img{
     width: 300px;
 }
 #hotels_list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;

 }
 #sorting{
    display: flex;
    justify-content: space-between;
    
   text-align: center;
  
    margin-top: 20px;
    margin-bottom: 20px;

 }